body{
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: #25587D;
    position: fixed;
    margin-top: 0;
    padding: 10px 0;
}

nav a{
    text-decoration: none;
    font-family: 'Bangers';
    color:white;
    font-size: 150%;
}
section{
    height: 100vh;
    width: 100vw;
}

#casos{
    display: flex;
    align-items: center;
}

#casos div{
    width: 50vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-items: center;
}

#intro{
    background-color:white;
}
#casos{
    background-color:#56B7FC;
}
#pivo{
    background-color:#B04745;
}
#exemplo{
    background-color:#BDBD5D;
}
#intro, #pivo, #exemplo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#exemplo p{
    font-style: bold;
    font-size: 25pt;
    margin: 0;
}

p{
    font-family: 'Bangers', cursive;
    font-size: 200%;
    text-align: center;
}

h1, h2{
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 400%;

}
#exemplo video{
    display: none;
}